<div class="page-content page-main--right-content" ng-controller="ChangePasswordController">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a ng-click="RedirectUrl('Dashboard')">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a class="currentPage" href="#">Change Password</a>
                <!--<span>Dashboard</span>-->
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <form class="form-horizontal" action="#" id="ChangePasswordForm" name="ChangePasswordForm" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Current Password <span class="required">*</span></label>
                                        <input type="password" class="form-control" id="currentPassword" ng-model="CurrentPassword" autocomplete="off" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">New Password <span class="required">*</span></label>
                                        <input type="password" class="form-control" id="newPassword" ng-model="NewPassword" autocomplete="off" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Confirm New Password <span class="required">*</span></label>
                                        <input type="password" class="form-control" id="confirmPassword" ng-model="ConfirmPassword" autocomplete="off" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn green" ng-click="changePassword()" ng-disabled="ChangePasswordForm.$invalid">Change</button>
                                        <button type="button" class="btn default" ng-click="ClearAll()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>