<div class="page-content page-main--right-content" style="min-height: 361px;" ng-controller="AddProfilesController">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a ng-click="RedirectUrl('Dashboard')">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a ng-click="RedirectUrl('AllPostingsDashboard')">All Postings</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a class="currentPage" href="#">ADD PROFILES</a>
                <!--<span>Dashboard</span>-->
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- END PAGE HEADER-->
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered gridFilter">
                <div class="portlet-body">
                    <span style="margin-left: 20%;">Jobcode : <span class="job-code-style">{{objRequirement.JobCode}}</span></span>
                    <a class="headerNavigationLink" ng-click="RedirectUrl('ShortlistedProfiles')">Shortlisted Profiles</a>
                    <a class="headerNavigationLink" ng-click="RedirectUrl('RequirementRelatedProfiles')">Related Profiles</a>
                    <a class="headerNavigationLink" ng-click="RedirectUrl('PreAppliedCandidates')">Applied Candidates</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <form class="form-horizontal" action="#" id="submit_form" name="company_profile_form" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Name <span class="required" aria-required="true">*</span></label>
                                        <input type="text" class="form-control" ng-model="candidateName" required iai-name>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Email ID <span class="required" aria-required="true">*</span></label>
                                        <input type="email" class="form-control" ng-model="candidateEmail" iai-to-lower-case required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Mobile No <span class="required" aria-required="true">*</span></label>
                                        <input type="number" class="form-control" ng-model="candidateMobileNo" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Resume <span class="required" aria-required="true">*</span></label>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="input-group input-large">
                                                <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                    <span class="fileinput-filename"> </span>
                                                </div>
                                                <span class="input-group-addon btn default btn-file">
                                                    <span class="fileinput-new"> Select file </span>
                                                    <span class="fileinput-exists"> Change </span>
                                                    <input type="file" name="..." ng-model="candidateResume" file-model="myFile">
                                                </span>
                                                <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">
                                                    <i class="fa fa-trash-o"></i>&nbsp;Remove
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="audiofile">
                                        <a href="../../assets/CandidateResumes/{{candidateResumeDownload}}"><i class="fa fa-download"></i> {{candidateResumeDownload}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Vendor</label>
                                        <select name="vendor" id="vendor" class="form-control" ng-model="vendor">
                                            <option value="">Select</option>
                                            <option value="{{vendor.VendorId}}" ng-repeat="vendor in vendorList">{{vendor.VendorName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-9 col-md-3">
                                <button type="submit" class="btn green" ng-click="saveCompanyAddedCandidate()" ng-disabled="company_profile_form.$invalid"><i class="icon-check"></i>Save</button>
                                <button type="button" class="btn red" ng-click="clearAll()"><i class="icon-close"></i>Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption" style="width: 50%;">
                    </div>
                    <div class="actions" style="width: 50%;">
                        <div class="col-md-4">Screen Select :</div>
                        <div class="col-md-6">
                            <select name="statusSearch" id="statusSearch" class="form-control" ng-model="statusSearch" ng-change="getCompanyProfiles();">
                                <option value="Select">Select</option>
                                <option value="Reject">Reject</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <a class="export-excel" title="Export" ng-click="exportToExcel()" ng-hide="companyProfiles.length < 1">
                                <img src="../../../../assets/InnerCSS/global/img/Export To Excel.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Email </th>
                                    <th> Mobile No </th>
                                    <th> Interview Date </th>
                                    <th> Rating </th>
                                    <!--<th> ScreenStatus </th>-->
                                    <!--<th> Status </th>-->
                                    <th> Comments </th>
                                    <!--<th></th>-->
                                    <!--<th></th>-->
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="profile in companyProfiles | filter : paginate">
                                    <td> {{profile.CandidateName}} </td>
                                    <td> {{profile.Email}} </td>
                                    <td> {{profile.Mobile}} </td>
                                    <td> {{profile.InterviewDate}} </td>
                                    <td> {{profile.TotalRating}} </td>
                                    <!--<td> {{profile.ScreenSelect}} </td>-->
                                    <!--<td>
                                    {{profile.SelectStetus}}-->
                                    <!--<select name="Skill" id="Skill" class="form-control" ng-model="profile.SelectStetus">
                                    <option value="">-Select Status-</option>
                                    <option value="Select">Select</option>-->
                                    <!--<option value="InProgress">InProgress</option>
                                    <option value="Joined">Joined</option>-->
                                    <!--<option value="Reject">Reject</option>-->
                                    <!--<option value="IAI Reject">IAI Reject</option>
                                    <option value="Tech Reject">Tech Reject</option>
                                    <option value="HR Reject">HR Reject</option>
                                    <option value="Offer Reject">Offer Reject</option>-->
                                    <!--</select>-->
                                    <!--</td>-->
                                    <td>
                                        {{profile.StatusUpdateRemarks}}
                                        <!--<input type="text" class="form-control" ng-model="profile.StatusUpdateRemarks">-->
                                    </td>
                                    <!--<td><a ng-click="updateDetails(profile)">Update</a></td>-->
                                    <!--<td><a ng-click="editProfile(profile)">Edit</a></td>-->
                                    <td><a ng-click="viewDetails(profile)">Details</a></td>
                                    <td><a ng-click="scheduleInterviewPopup(profile)">Schedule</a></td>
                                    <td><a ng-click="reScheduleInterviewPopup(profile)">Re Schedule</a></td>
                                    <td><a ng-hide="profile.TotalRating == '' || profile.TotalRating == null || profile.TotalRating == '--'" ng-click="viewRatingDetails(profile)">Rating</a></td>
                                    <td><a ng-click="getHistory(profile.CompanyProfileId)" title="History"><i class="fa fa-history" aria-hidden="true"></i></a></td>
                                </tr>
                            </tbody>                            
                        </table>
                        <!--<pagination total-items="totalItems" ng-change="pageChanged()" items-per-page="numPerPage" direction-links="true" ng-model="currentPage" max-size="numPerPage" class="pagination"
                                    boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                        <a class="btn btn-primary">Page: {{currentPage}} / {{numPages}}</a>-->
                        <!--<pagination total-items="totalItems" ng-change="pageChanged()" items-per-page="numPerPage" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true"></pagination>-->
                        <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="candidateProfile" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-half">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">CANDIDATE PROFILE</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="#" id="submit_form" name="candidate_profile_form" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Primary Skill <span class="required">*</span></label>
                                        <input type="text" class="form-control" ng-model="primarySkillName" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Secondary Skill 1 <span class="required">*</span></label>
                                        <select name="ddlSecondarySkill1" id="ddlSecondarySkill1" class="form-control" ng-model="secondarySkill1" disabled>
                                            <option value="">-Select-</option>
                                            <option value="{{skill.SkillId}}" ng-repeat="skill in SecondarySkills">{{skill.SkillName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Secondary Skill 2 <span class="required">*</span></label>
                                        <select name="ddlSecondarySkill2" id="ddlSecondarySkill2" class="form-control" ng-model="secondarySkill2" required disabled>
                                            <option value="">-Select-</option>
                                            <option value="{{skill.SkillId}}" ng-repeat="skill in SecondarySkills">{{skill.SkillName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Secondary Skill 3 <span class="required">*</span></label>
                                        <select name="ddlSecondarySkill3" id="ddlSecondarySkill3" class="form-control" ng-model="secondarySkill3" required disabled>
                                            <option value="">-Select-</option>
                                            <option value="{{skill.SkillId}}" ng-repeat="skill in SecondarySkills">{{skill.SkillName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Secondary Skill 4</label>
                                        <select name="ddlSecondarySkill4" id="ddlSecondarySkill4" class="form-control" ng-model="secondarySkill4">
                                            <option value="">-Select-</option>
                                            <option value="{{skill.SkillId}}" ng-repeat="skill in SecondarySkills">{{skill.SkillName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Secondary Skill 5</label>
                                        <select name="ddlSecondarySkill5" id="ddlSecondarySkill5" class="form-control" ng-model="secondarySkill5">
                                            <option value="">-Select-</option>
                                            <option value="{{skill.SkillId}}" ng-repeat="skill in SecondarySkills">{{skill.SkillName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Current Location <span class="required">*</span></label>
                                        <select name="Location" id="Location" class="form-control" ng-model="currentLocation" required>
                                            <option value="">-Select-</option>
                                            <option value="{{city.Location}}" ng-repeat="city in Cities">{{city.Location}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Experience <span class="required">*</span></label>
                                        <select name="Experience" id="Experience" class="form-control" ng-model="experience" required>
                                            <option value="">-Select-</option>
                                            <option value="0">Fresher</option>
                                            <option value="1">1+</option>
                                            <option value="2">2+</option>
                                            <option value="3">3+</option>
                                            <option value="4">4+</option>
                                            <option value="5">5+</option>
                                            <option value="6">6+</option>
                                            <option value="7">7+</option>
                                            <option value="8">8+</option>
                                            <option value="9">9+</option>
                                            <option value="10">10+</option>
                                            <option value="11">11+</option>
                                            <option value="12">12+</option>
                                            <option value="13">13+</option>
                                            <option value="14">14+</option>
                                            <option value="15">15+</option>
                                            <option value="16">16+</option>
                                            <option value="17">17+</option>
                                            <option value="18">18+</option>
                                            <option value="19">19+</option>
                                            <option value="20">20+</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Current Pay <span class="required">*</span></label>
                                        <div class="col-md-6">
                                            <input type="number" class="form-control" min="0" placeholder="Lakhs" ng-model="currentPayLakhs" required>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="number" class="form-control" min="0" placeholder="Thousands" ng-model="currentPayThousands">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Expected Pay <span class="required">*</span></label>
                                        <div class="col-md-6">
                                            <input type="number" class="form-control" min="0" placeholder="Lakhs" ng-model="expectedPayLakhs" required>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="number" class="form-control" min="0" placeholder="Thousands" ng-model="expectedPayThousands">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Notice Period</label>
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="NoticePeriod" id="optionsRadios4" value="Immediate" ng-model="noticePeriod"> Immediate
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="NoticePeriod" id="optionsRadios5" value="30days" ng-model="noticePeriod"> 30 days
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="NoticePeriod" id="optionsRadios6" value="60days" ng-model="noticePeriod"> 60 days
                                                <span></span>
                                            </label>
                                            <label class="mt-radio mt-radio-outline">
                                                <input type="radio" name="NoticePeriod" id="optionsRadios6" value="90days" ng-model="noticePeriod"> 90 days
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Gap</label>
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" ng-model="gapInEducation"> In Education
                                                <span></span>
                                            </label>
                                            <label class="mt-checkbox mt-checkbox-outline">
                                                <input type="checkbox" ng-model="gapInExperience"> In Experience
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Address</label>
                                        <textarea class="form-control" rows="3" ng-model="address"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Additional Skills</label>
                                        <textarea class="form-control" rows="3" ng-model="additionalSkills"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!--<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Screen Select <span class="required">*</span></label>
                                        <select name="ScreenSelect" id="ScreenSelect" class="form-control" ng-model="screenSelect" required>
                                            <option value="">-Select-</option>
                                            <option value="Select">Select</option>
                                            <option value="Reject">Reject</option>
                                        </select>
                                    </div>
                                </div>-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Status</label>
                                        <select name="ClientUpdate" id="ClientUpdate" class="form-control" ng-model="clientUpdate" required>
                                            <!--<option value="InProgress">InProgress</option>-->
                                            <option value="Select">Select</option>
                                            <!--<option value="Joined">Joined</option>-->
                                            <option value="Reject">Reject</option>
                                            <!--<option value="IAI Reject">IAI Reject</option>
                                            <option value="Tech Reject">Tech Reject</option>
                                            <option value="HR Reject">HR Reject</option>
                                            <option value="Offer Reject">Offer Reject</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Status Reason</label>
                                        <select name="StatusUpdateRemarks" id="StatusUpdateRemarks" class="form-control" ng-model="StatusUpdateRemarks" required>
                                            <option value="">-- Select --</option>
                                            <option value="{{status}}" ng-repeat="status in statusReasonArray">{{status}}</option>
                                            <!--<option value="No Info">No Info</option>
                                            <option value="No Response">No Response</option>
                                            <option value="No Show">No Show</option>
                                            <option value="No Interest">No Interest</option>
                                            <option value="ReSchedule">ReSchedule</option>
                                            <option value="Client Reject">Client Reject</option>
                                            <option value="JD mismatch">JD mismatch</option>
                                            <option value="Offered">Offered</option>
                                            <option value="Joined">Joined</option>
                                            <option value="Rating Pending">Rating Pending</option>
                                            <option value="Panel Not Joined">Panel Not Joined</option>-->
                                        </select>
                                        <!--<textarea class="form-control" rows="3" ng-model="StatusUpdateRemarks"></textarea>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="valueLabelRating">{{StatusUpdateRemarksDisplay}}</span>
                                    <!--<label class="form-label">Remarks</label>-->
                                    <!--<textarea class="form-control" rows="2" ng-model="StatusUpdateRemarksDisplay" disabled></textarea>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="valueLabelRating">{{FollowUpDateDisplay}}</span>
                                    <!--<label class="form-label">Remarks</label>-->
                                    <!--<textarea class="form-control" rows="2" ng-model="StatusUpdateRemarksDisplay" disabled></textarea>-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn blue button-submit" ng-click="saveCandiateProfile();" ng-disabled="candidate_profile_form.$invalid">Submit</button>
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="scheduleInterviewPopup" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-half">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">SCHEDULE an INTERVIEW</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="#" id="schedule_interview_form" name="schedule_interview_form" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Date <span class="required">*</span></label>
                                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                        <input type="text" class="form-control date-input" readonly="" ng-model="ScheduleDate" ng-change="loadInterviewers()">
                                        <span class="input-group-btn">
                                            <button class="btn btn-date" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <label class="form-label">Interviewer <span class="required">*</span></label>
                                    <select name="Interviewer" id="Interviewer" class="form-control" ng-model="Interviewer" ng-change="loadTimeSlots()">
                                        <option value="">-Select-</option>
                                        <option value="{{interviewer.UserId}}" ng-repeat="interviewer in Interviewers">{{interviewer.InterviewerName}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Time Slot <span class="required">*</span></label>
                                    <select name="TimeSlots" id="TimeSlots" class="form-control" ng-model="TimeSlot">
                                        <option value="">-Select-</option>
                                        <option value="{{slot.AvailableTimeId}}" ng-repeat="slot in TimeSlots">{{slot.AvailableTime}}</option>
                                    </select>
                                </div>-->
                                <div class="form-group" ng-show="TimeSlot == ''">
                                    <ul class="interviewer-slots">
                                        "i
                                        <li ng-repeat="interviewer in Interviewers">
                                            <span>{{interviewer.InterviewerName}}</span> <br />
                                            <a ng-repeat="slot in interviewer.timeSlotList" ng-click="schedulePopUp(slot, interviewer);">{{slot.TimeSlot}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group" ng-hide="TimeSlot == ''">
                                    <div class="col-md-2">
                                        <label class="form-label">Selected Time Slot</label>
                                    </div>
                                    <div class="col-md-10">
                                        <span class="valueLabelRating">{{objTimeSlot.TimeSlot}}</span>
                                        <a class="time-slot-change" ng-click="Interviewer = ''; TimeSlot = '';">Choose another slot</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Interview Type</label>
                                    <div class="mt-radio-inline">
                                        <label class="mt-radio mt-radio-outline">
                                            <input type="radio" name="InterviewType" id="optionsRadios4" value="Audio" ng-model="InterviewType"> Audio
                                            <span></span>
                                        </label>
                                        <label class="mt-radio mt-radio-outline">
                                            <input type="radio" name="InterviewType" id="optionsRadios5" value="Video" ng-model="InterviewType"> Video
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn blue button-submit" ng-disabled="ScheduleDate == '' || Interviewer == '' || TimeSlot == '' || TermsConditions == false" ng-click="scheduleInterview()">Schedule</button>
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="reScheduleInterviewPopup" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-half">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">RE SCHEDULE an INTERVIEW</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="#" id="schedule_interview_form" name="schedule_interview_form" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Date <span class="required">*</span></label>
                                    <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                        <input type="text" class="form-control date-input" readonly="" ng-model="reScheduleDate" ng-change="loadTimeSlotsReSchedule()">
                                        <span class="input-group-btn">
                                            <button class="btn btn-date" type="button">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Time Slot <span class="required">*</span></label>
                                    <select name="TimeSlots" id="TimeSlots" class="form-control" ng-model="reScheduleTimeSlot">
                                        <option value="">-Select-</option>
                                        <option value="{{slot.AvailableTimeId}}" ng-repeat="slot in TimeSlotsReSchedule">{{slot.AvailableTime}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn blue button-submit" ng-disabled="reScheduleDate == '' || reScheduleTimeSlot == ''" ng-click="reScheduleInterview()">Re Schedule</button>
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="confirmScheduleInterviewPopup" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-half">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="Interviewer = ''; TimeSlot = '';"></button>
                    <h4 class="modal-title">Confirm Schedule</h4>
                </div>
                <div class="modal-body">
                    <span>are you sure you want to Schedule Interivew at {{objTimeSlot.TimeSlot}}</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" ng-click="selectTime()">Ok</button>
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal" ng-click="Interviewer = ''; TimeSlot = '';">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="candidateHistory" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-half">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">CANDIDATE PROFILE</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th> Date </th>
                                        <th> Comments </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dump in profileHistoryData.followUpDump">
                                        <td> {{dump.FollowUpDateDisplay}} </td>
                                        <td> {{dump.Comments}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <ng-include src="'app/components/Common/ViewRating/ViewRating.html'"></ng-include>
</div>